*{
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
.bba:hover{
	color: white;
}
.logo:hover{
	transform: scale(1.08);
}
body{
	height: 100%;
	width: 100%;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: rgb(58, 57, 57);
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 600px;
}
.col-2 img{
	max-width: 100%;
	padding: 20px 0;
}
.col-2 h1{
	font-size: 35px;
	line-height: 90px;
	margin: 60px 0;
	font-family: serif;
}
.header1{
	background: radial-gradient(#FFFFFF,#DDDDDD,#4D4D4D);
	
}
.header2{
	background: radial-gradient(#DDDDDD,#4D4D4D);
	height: 100px
}
.categories{
	margin: 70px 0;
}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	transition: transrorm 0.5s;
}
.col-3 img{
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-3:hover{
	transform: translateY(-8px);
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transrorm 0.5s;
}
.col-4 img{
	width: 100%;
}
h2{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: rgb(0, 0, 0);
}
h2::after{
	content: '';
	background:#ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4{
	color: rgb(0, 0, 0);
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
}
.col-4:hover{
	transform: translateY(-8px);
}
/*-----------------footer----------*/
.footer{
	background: radial-gradient(#333333,#080808);
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex-basis: 1;
	text-align: center;
}
.footer-col-22 img{
width: 200px;
}
.footer-col-2 img{
width: 130px;
}
.footer-col-2:hover{
	transform: scale(1.08);
}
.footer-col-22:hover{
	transform: scale(1.08);
}
.footer-col-3, .footer-col-4{
	flex-basis: 20%;
	text-align: right;
}
ul{
	list-style-type: none;
}
/*------------menu-----------*/
@media only screen and (max-width:800px)  {
	nav ul { 
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100px;
	}
}
/*---------------page seel----------*/


.col-2{
	flex-basis: 40%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	
}
.single-product{
	margin-top: 80px;
}
.single-product .col-22 img{
	
	max-width: 500px;
	margin: auto;
	padding-left: 0px;
	padding-right: 550px;
}
.single-product .col-22{
	padding: 20px;
	
}

.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: lpx solid #ff523b;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	
}
.btn:hover{
	transform: scale(1.08);
}
input:focus{
	outline: none;
}
.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}
.boss{
	text-align: center;
}
















